.horizontal-slider {
  width: 100%;
  height: 25px; /* スライダー全体の高さ */
  margin-top: 30px; /* 上方向の余白を追加 */
  margin-bottom: 30px; /* 下方向の余白を追加 */
}

.thumb {
  height: 25px;
  width: 25px;
  background-color: #333;
  cursor: grab;
  display: flex;
  align-items: center; /* 垂直方向の中央に配置 */
  justify-content: center; /* 水平方向の中央に配置 */
  color: white;
  border-radius: 50%;
  border: none; /* ボーダーを消す */
  outline: none; /* フォーカス時のアウトラインも消す */
  padding: 10px; /* 内側の余白を調整 */
  box-sizing: border-box; /* パディングを含むサイズを調整 */
}

.thumb-content {
  margin-top: 5px; /* 上の余白を追加 */
  margin-bottom: 5px; /* 下の余白を追加 */
  line-height: 2.5; /* 行の高さを調整 */
}

.track {
  top: 50%;
  background: #ddd;
  height: 4px; /* トラックの高さを細くする */
  transform: translateY(-50%); /* トラックを垂直中央に揃える */
}
